src/main/java/chav1961/purelib/basic/xsd/SVG.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="svg">
    <xs:annotation>
      <xs:documentation>Created with "sPlan" (http://www.abacom-online.de)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="title"/>
        <xs:element name="defs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="style">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="type"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="path">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="fill"/>
                <xs:attribute type="xs:string" name="stroke"/>
                <xs:attribute type="xs:byte" name="stroke-width"/>
                <xs:attribute type="xs:string" name="style"/>
                <xs:attribute type="xs:string" name="d"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="polyline" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="points" use="optional"/>
                <xs:attribute type="xs:string" name="fill" use="optional"/>
                <xs:attribute type="xs:string" name="stroke" use="optional"/>
                <xs:attribute type="xs:byte" name="stroke-width" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="text" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="x" use="optional"/>
                <xs:attribute type="xs:float" name="y" use="optional"/>
                <xs:attribute type="xs:string" name="font-family" use="optional"/>
                <xs:attribute type="xs:string" name="font-size" use="optional"/>
                <xs:attribute type="xs:string" name="font-weight" use="optional"/>
                <xs:attribute type="xs:string" name="font-style" use="optional"/>
                <xs:attribute type="xs:string" name="fill" use="optional"/>
                <xs:attribute type="xs:string" name="transform" use="optional"/>
                <xs:attribute type="xs:string" name="stroke" use="optional"/>
                <xs:attribute type="xs:byte" name="stroke-width" use="optional"/>
                <xs:attribute type="xs:string" name="style" use="optional"/>
                <xs:attribute type="xs:string" name="d" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="circle" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="cx" use="optional"/>
                <xs:attribute type="xs:float" name="cy" use="optional"/>
                <xs:attribute type="xs:float" name="r" use="optional"/>
                <xs:attribute type="xs:string" name="fill" use="optional"/>
                <xs:attribute type="xs:string" name="stroke" use="optional"/>
                <xs:attribute type="xs:byte" name="stroke-width" use="optional"/>
                <xs:attribute type="xs:float" name="x" use="optional"/>
                <xs:attribute type="xs:float" name="y" use="optional"/>
                <xs:attribute type="xs:string" name="font-family" use="optional"/>
                <xs:attribute type="xs:string" name="font-size" use="optional"/>
                <xs:attribute type="xs:string" name="font-weight" use="optional"/>
                <xs:attribute type="xs:string" name="font-style" use="optional"/>
                <xs:attribute type="xs:string" name="transform" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="polygon">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="points" use="optional"/>
                <xs:attribute type="xs:string" name="fill" use="optional"/>
                <xs:attribute type="xs:string" name="stroke" use="optional"/>
                <xs:attribute type="xs:byte" name="stroke-width" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="baseProfile"/>
      <xs:attribute type="xs:short" name="width"/>
      <xs:attribute type="xs:short" name="height"/>
    </xs:complexType>
  </xs:element>
</xs:schema>